name: Go App CI/CD to GCP

on:
  push:
    branches:
      - main 

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  ARTIFACT_REGISTRY: europe-west1-docker.pkg.dev
  REPO_NAME: go-app-repo
  IMAGE_NAME: go-app
  GCP_ZONE: europe-west1-b
  VM_IP: 35.195.239.19 # Обновленный публичный IP вашей VM
  SSH_USER: ubuntu

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout кода
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Аутентификация в GCP
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # 3. Настройка Docker для Artifact Registry
      - name: Set up Docker for Artifact Registry
        run: gcloud auth configure-docker ${{ env.ARTIFACT_REGISTRY }}

      # 4. Сборка Docker образа
      - name: Build and Tag Docker Image
        run: |
          docker build -t ${{ env.ARTIFACT_REGISTRY }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest .
          docker tag ${{ env.ARTIFACT_REGISTRY }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest ${{ env.ARTIFACT_REGISTRY }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:$(date +%s)

      # 5. Публикация Docker образа в Artifact Registry
      - name: Push Docker Image to Artifact Registry
        run: docker push ${{ env.ARTIFACT_REGISTRY }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }} --all-tags

      # 6. Настройка SSH для развертывания
      - name: Set up SSH Key for Deployment
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # 7. Развертывание (запуск контейнера)
      - name: Deploy Container to VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ env.VM_IP }} 
          username: ${{ env.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          
          # НОВЫЙ СКРИПТ:
          script: |
            # 1. АВТОРИЗАЦИЯ DOCKER НА VM: 
            # Мы используем сервисный аккаунт, который мы настроили на VM через Ansible.
            # Удаляем флаг --no-browser, который вызывает ошибку на старой версии gcloud.
            sudo gcloud auth configure-docker ${{ env.ARTIFACT_REGISTRY }} --quiet
            
            # 2. Остановка и удаление старого контейнера
            # ВАЖНО: Мы удаляем команду sudo, т.к. пользователь 'ubuntu' добавлен в группу 'docker'!
            docker stop go-app-container || true
            docker rm go-app-container || true
            
            # 3. Извлечение нового образа
            IMAGE_URL=${{ env.ARTIFACT_REGISTRY }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest
            docker pull $IMAGE_URL
            
            # 4. Запуск нового контейнера
            docker run -d --name go-app-container -p 8080:8080 --restart always $IMAGE_URL